absl-py==0.8.1
adabound==0.0.5
aiofiles==0.4.0
aiohttp==3.5.4
APScheduler==3.6.3
astor==0.8.1
async-generator==1.10
async-timeout==3.0.1
atomicwrites==1.3.0
attrs==19.3.0
audioread==2.1.8
Automat==20.2.0
backcall==0.1.0
beautifulsoup4==4.8.0
bert==2.2.0
bleach==1.5.0
blis==0.2.4
boto==2.49.0
boto3==1.9.161
botocore==1.12.161
Bottleneck==1.2.1
cachetools==4.0.0
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
Click==7.0
cloudpickle==0.6.1
colorama==0.4.1
colorclass==2.2.0
coloredlogs==10.0
colorhash==1.0.2
ConfigArgParse==0.13.0
constantly==15.1.0
contextvars==2.4
cryptography==2.8
cycler==0.10.0
cymem==2.0.2
Cython==0.29.17
dataclasses==0.6
decorator==4.4.0
defusedxml==0.6.0
dill==0.3.1.1
Distance==0.1.3
docopt==0.6.2
docutils==0.14
easydict==1.9
entrypoints==0.3
erlastic==2.0.0
et-xmlfile==1.0.1
fairseq==0.9.0
fakeredis==0.10.3
fastai==1.0.44
fastprogress==0.1.21
fbmessenger==5.6.0
ffmpeg==1.4
filelock==3.0.12
Flask==1.1.1
Flask-Cors==3.0.8
Flask-JWT-Simple0.0.3
future==0.17.1
gast==0.2.2
gensim==3.7.3
gevent==1.4.0
google-auth==1.12.0
google-auth-oauthlib0.4.1
google-pasta==0.2.0
graphviz==0.8.4
greenlet==0.4.15
grpcio==1.27.2
gym==0.13.1
h5py==2.10.0
html5lib==0.9999999
httptools==0.1.1
humanfriendly==8.1
hyperlink==19.0.0
idna==2.8
idna-ssl==1.1.0
immutables==0.11
importlib-metadata0.19
incremental==17.5.0
ipykernel==5.1.1
ipython==7.7.0
ipython-genutils0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
JCC==3.3
jdcal==1.4.1
jedi==0.14.1
jieba==0.39
Jinja2==2.10.1
jmespath==0.9.4
joblib==0.13.2
jsonpatch==1.24
jsonpickle==1.3
jsonpointer==2.0
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.3.1
jupyter-console==6.0.0
jupyter-core==4.5.0
kafka-python==1.4.7
kenlm==0.0.0
Keras-Applications1.0.8
Keras-Preprocessing1.1.0
kiwisolver==1.1.0
klein==17.10.0
librosa==0.7.0
llvmlite==0.29.0
lucene==7.5.0
lxml==4.4.0
marisa-trie==0.7.5
Markdown==3.2.1
MarkupSafe==1.1.1
matplotlib==2.2.5
mattermostwrapper2.2
mistune==0.8.4
mock==4.0.2
more-itertools==7.2.0
mpg123==0.4
multidict==4.5.2
murmurhash==1.0.2
mxnet==1.6.0
nbconvert==5.5.0
nbformat==4.4.0
neobolt==1.7.13
neotime==1.7.4
networkx==2.4
nose==1.3.7
notebook==6.0.0
numba==0.45.0
numexpr==2.6.9
numpy==1.16.2
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
olefile==0.44
opencv-python==4.1.0.25
openpyxl==2.6.2
opt-einsum==3.2.0
packaging==18.0
pandas==0.25.0
pandocfilters==1.4.2
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
pika==0.12.0
Pillow==8.1.1
pip==20.2.2
pipreqs==0.4.10
plac==0.9.6
pluggy==0.12.0
portalocker==1.7.0
preshed==2.0.1
prettytable==0.7.2
prometheus-client0.7.1
prompt-toolkit==2.0.9
protobuf==3.9.0
ptyprocess==0.6.0
py==1.8.0
py2neo==4.3.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.11
pycparser==2.19
pydot==1.4.1
pydub==0.23.1
pyglet==1.3.2
Pygments==2.3.1
PyHamcrest==2.0.2
PyJWT==1.7.1
pykwalify==1.7.0
pymongo==3.8.0
pyparsing==2.4.0
pypinyin==0.35.3
pyrsistent==0.15.4
PySnooper==0.3.0
pytest==5.0.1
python-crfsuite==0.9.7
python-dateutil==2.8.0
python-engineio==3.12.1
python-socketio==3.1.2
python-telegram-bot11.1.0
pytorch-transformers1.2.0
pytz==2018.9
PyYAML==5.1.2
pyzmq==18.0.2
qtconsole==4.5.2
questionary==1.5.1
rasa==1.0.3
rasa-core==0.14.5
rasa-core-sdk==0.14.0
rasa-nlu==0.15.1
rasa-sdk==1.0.0
redis==2.10.6
regex==2020.2.20
requests==2.22.0
requests-oauthlib1.3.0
requests-toolbelt0.9.1
resampy==0.2.1
rocketchat-API==0.6.36
rsa==4.0
ruamel.yaml==0.15.100
s3transfer==0.2.1
sacrebleu==1.4.9
sacremoses==0.0.38
sanic==19.3.1
Sanic-Cors==0.9.9.post4
sanic-jwt==1.4.0
Sanic-Plugins-Framework0.9.2
scikit-learn==0.20.4
scipy==1.3.0
selenium==3.141.0
Send2Trash==1.5.0
sentencepiece==0.1.85
setuptools==41.0.1
simplejson==3.17.0
six==1.12.0
sklearn==0.0
sklearn-crfsuite0.3.6
slackclient==1.3.2
smart-open==1.8.4
sortedcontainers2.1.0
sounddevice==0.3.13
SoundFile==0.10.2
soupsieve==1.9.2
spacy==2.1.7
SQLAlchemy==1.3.15
srsly==0.0.7
stanfordnlp==0.2.0
starlette==0.12.8
synonyms==3.10.2
tabulate==0.8.7
tensorboard==1.13.1
tensorboardX==1.8
tensorflow==1.13.2
tensorflow-estimator1.13.0
tensorflow-gpu==2.0.0
termcolor==1.1.0
terminado==0.8.2
terminaltables==3.1.0
testpath==0.4.2
thinc==7.0.8
tokenizers==0.5.2
torch==1.4.0
torchfile==0.1.0
torchkeras==1.5.3
TorchSnooper==0.8
torchtext==0.5.0
torchvision==0.3.0
tornado==6.0.3
tqdm==4.32.1
traitlets==4.3.2
transformers==2.6.0
twilio==6.37.0
Twisted==20.3.0
typing==3.7.4
typing-extensions3.7.4
tzlocal==2.0.0
ujson==2.0.3
urljoin==1.0.0
urllib3==1.24.3
uvloop==0.14.0
visdom==0.1.8.9
wasabi==0.2.2
wcwidth==0.1.7
webencodings==0.5.1
webexteamssdk==1.2
webrtcvad==2.0.10
websocket-client0.54.0
websockets==6.0
Werkzeug==0.16.0
wheel==0.33.4
widgetsnbextension3.5.1
wrapt==1.12.1
xlrd==1.2.0
xlutils==2.0.0
xlwt==1.3.0
yarg==0.1.9
yarl==1.3.0
zipp==0.5.2
zope.interface==5.0.1